body {
  margin: 0;
  padding: 0;
}

.NavBar {
  width: 100vw;
  background-color: #6D83E6;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.logo_contaciner {
  width: 20vw;
}
.logo_contaciner h1 {
  font-family: cursive;
}

.links {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 0.8vw 0.7vw;  
  border-radius: 6px;
}
.links a:hover,
.links a.active {
  /* background-color: blue; */
  color: #FBAB21;
}
.menu_icon_container {
  width: 10vw ;
  display: flex;
  justify-content: center;
}

.menu_icon {
  font-size: 25px;
  cursor: pointer;
  color: #fff;
}

/* side bar design ::::::::::::::::::::::::::::::::: */

.SideBar {
  background-color: #6D83E6;
  width: 190px;
  height: 95vh;
  left: -100%;
  position: absolute;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  padding: 2vw 1vw;
  align-items: center;
}

.SideBar.active {
  left: 0%;
  transition: all 0.4s;
}

.SideBar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 0.8vw 0.7vw;  
  border-radius: 6px;
  align-items: 'center';
  width: 100%;
}

.SideBar a:hover,
.SideBar a.active {
  background-color: #FBAB21;
}

.SideBar a svg {
  margin-right: 5px;
}

/* main desing :::::::::::::: */
main {
  display: flex;
  flex-direction: row;
}

.Main_content {
  /* margin-left: 12.5vw;
  width: 87.5vw; */
  font-family: cursive;
}
.Main_content.active {
  margin-left: 220px;
  width: 87.5vw;
  transition: all 0.65s;
}